---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Aplikacja mobilna Android | Złota Rączka Szczecin">
    <h1>Aplikacja mobilna na Androida</h1>
    <p class="pt-4 max-w-3xl">
        Przygotowujemy aplikację mobilną dla klientów, aby łatwiej zgłaszać zlecenia, wysyłać zdjęcia i umawiać terminy.
    </p>

    <section class="pt-8 space-y-4">
        <p class="text-lg font-semibold">Pobieranie aplikacji:</p>
        <p class="opacity-90">Aplikacja będzie dostępna wkrótce. Link do pobrania zostanie dodany na tej stronie.</p>
        <button type="button" disabled class="btn btn-lg">Wkrótce dostępne w Google Play</button>
    </section>

    <section class="pt-10">
        <p>
            Chcesz otrzymać powiadomienie o premierze? Zadzwoń pod
            <a href="tel:+48725144019">+48 725 144 019</a> lub napisz na
            <a href="mailto:buduje.remontuje.szczecin@gmail.com">buduje.remontuje.szczecin@gmail.com</a>.
        </p>
    </section>
</Layout>
