---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Usługi | Złota Rączka Szczecin">
    <h1>Zakres usług</h1>
    <p class="pt-4 max-w-3xl">
        Oferuję szeroki zakres prac dla mieszkań, domów i lokali użytkowych. Realizuję pojedyncze zlecenia oraz
        większe pakiety prac wykończeniowych i instalacyjnych.
    </p>

    <section class="pt-10">
        <h2>Usługi remontowo-montażowe</h2>
        <ul class="pt-5 space-y-2">
            <li>• Składanie mebli (IKEA i inne systemy)</li>
            <li>• Wiercenie, mocowanie półek, szafek i uchwytów</li>
            <li>• Montaż karniszy, rolet, lamp i plafonów</li>
            <li>• Szpachlowanie i malowanie ścian oraz sufitów</li>
            <li>• Drobne prace budowlano-wykończeniowe</li>
        </ul>
    </section>

    <section class="pt-10">
        <h2>Elektryka i instalacje</h2>
        <ul class="pt-5 space-y-2">
            <li>• Montaż i wymiana gniazdek, włączników, oświetlenia</li>
            <li>• Diagnostyka i modernizacja instalacji elektrycznych</li>
            <li>• Prace w instalacjach 230V oraz 400V (siła)</li>
            <li>• Podłączanie AGD i urządzeń domowych</li>
            <li>• Konfiguracja monitoringu i inteligentnego domu</li>
        </ul>
    </section>

    <section class="pt-10">
        <h2>Prace hydrauliczne i użytkowe</h2>
        <ul class="pt-5 space-y-2">
            <li>• Podłączanie zlewów i baterii</li>
            <li>• Montaż syfonów i podstawowych elementów armatury</li>
            <li>• Drobne prace serwisowe w domu i mieszkaniu</li>
        </ul>
    </section>

    <section class="pt-10">
        <h2>Czego nie wykonuję</h2>
        <ul class="pt-5 space-y-2">
            <li>• Napraw i instalacji gazowych</li>
            <li>• Układania kostki brukowej</li>
            <li>• Ociepleń elewacji</li>
            <li>• Prac dachowych</li>
        </ul>
    </section>

    <section class="pt-10">
        <p>Zapytania i wyceny: <a href="tel:+48725144019">+48 725 144 019</a> • <a href="mailto:buduje.remontuje.szczecin@gmail.com">buduje.remontuje.szczecin@gmail.com</a></p>
    </section>

</Layout>
