<footer class="pt-16 pb-12 text-sm sm:pt-24 sm:pb-16">
    <p>Telefon: <a href="tel:+48725144019">+48 725 144 019</a></p>
    <p class="mt-2">E-mail: <a href="mailto:buduje.remontuje.szczecin@gmail.com">buduje.remontuje.szczecin@gmail.com</a></p>
    <p class="mt-4 opacity-80">Obszar usług: Szczecin (szczególnie dzielnica Dąbie).</p>
</footer>
